[program:app]
command = /usr/bin/python /var/app/api.py
environment = {{ app_environment | mandatory | replace('\n', ',') }}
stdout_logfile = /var/log/api-stdout.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 5
stderr_logfile = /var/log/api-stderr.log
stderr_logfile_maxbytes = 10MB
stderr_logfile_backups = 5
